{
    "trailingComma": "es5",
    "tabWidth": 2,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "useTabs": true,
    "printWidth": 120,
    "jsxBracketSameLine": true,
    "semi": false,
    "arrowParens": "avoid",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}